<!DOCTYPE html>
<html>
<head>
    <title>User Signup</title>
</head>
<body>
    <h2>Signup</h2>
    <form method="post">
        <label>Username <input type="text" name="username"></label>
        <br>
        <label>Password <input type="text" name="password"></label>
        <br>
        <label>Verify Password <input type="text" name="verify_password"></label>
        <br>
        <label>Email (optional) <input type="text" name="email"></label>
        <br>
        <input type="submit">
    </form>
</body>
</html>