<!DOCTYPE html>
<html>
<head>
    <title>User Signup</title>
</head>

<style type="text/css">
    .container {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        padding-bottom: 5px;
    }

    label {
        width: 120px;
        text-align: right;
        padding-right: 5px;
    }

    .error {
        color: red;
        padding-left: 10px;
    }

    input[type=text], input[type=password] {
        border-width: 1px;
    }

    input[type=submit] {
        max-width: 80px;
    }
</style>

<body>
    <h2>Signup</h2>
    <form method="post">
        <div class="container">
            <label>Username</label>
            <input type="text" name="username" value={{username}}>
            <div class="error">{{error_username}}</div>
        </div>

        <div class="container">
            <label>Password</label>
            <input type="password" name="password">
            <div class="error"> {{error_password}}</div>
        </div>

        <div class="container">
            <label>Verify Password</label>
            <input type="password" name="verify">
            <div class="error"> {{error_verify_password}}</div>
        </div>

        <div class="container">
            <label>Email (optional)</label>
            <input type="text" name="email">
            <div class="error"> {{error_email}}</div>
        </div>

        <input type="submit">
    </form>
</body>
</html>